.view-creator-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  padding-top: 20px;
}

.view-creator-container {
  width: 100%;
  max-width: 900px;
  margin: 40px auto;
  background: #f5f3ff;
  border-radius: 18px;
  box-shadow: 0 2px 24px rgba(49, 46, 129, 0.1);
  padding: 40px 32px 100px 32px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}

.view-creator-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10%;
  margin: 0 auto 18px auto;
  display: block;
  box-shadow: 0 2px 8px rgba(49, 46, 129, 0.08);
}

.view-creator-name {
  margin-bottom: 8px;
  font-size: 2rem;
  color: #312e81;
  font-weight: 600;
}

.view-creator-description {
  margin-bottom: 30px;
  color: #3730a3;
  font-size: 25px;
  padding: 0 200px;
}

.view-creator-link {
  color: #4f46e5;
  font-weight: 500;
  font-size: 20px;
  display: block;
  margin-bottom: 0px;
}

.view-creator-btns {
  display: flex;
  gap: 16px;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(245, 243, 255, 0.98);
  padding: 18px 0 18px 0;
  z-index: 10;
}

.view-creator-btns .btn {
  min-width: 100px;
}
