
.navbar {
  width: 100vw;
  background: #862cb0;
  color: #fff;
  padding: 10px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
  letter-spacing: 1px;
  position: sticky;
  top: 0;
  z-index: 100;
  font-family: inherit;
}

.navbar-title {
  font-family: inherit;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}

.navbar-title:hover {
  color: #fff;
}
